.container-tokens{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1rem;

    &__element {
        min-height: 200px;
    }

    @media screen and (min-width:768px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
}