@use '../abstracts/mixins' as m;

%box {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 0.5rem;
    -webkit-box-shadow: 3px 7px 6px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 3px 7px 6px 0px rgba(0, 0, 0, 0.39);
}

.box-profile {
    @extend %box;

    &--dark{
        @include m.box-dark;
    }
}
