@use '../abstracts/mixins' as m;

%box {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 1rem;
    -webkit-box-shadow: 3px 7px 6px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 3px 7px 6px 0px rgba(0, 0, 0, 0.39);
}

.box-profile {
    @extend %box;

    &--dark{
        @include m.box-dark;
    }

    &__avatar {
        vertical-align: middle;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @media screen and (min-width: 768px){
            width: 100px;
            height: 100px;
        }
    }


    &__icon{
        color: black;
    }

    &__container{
        @include m.flex-center;
    }

    
}



//ESTILOS COMPONETE box-balance

.box-balance {
    @extend %box;


    &__title {
        color:grey;
        font-size: 1rem;
    }

    &__amount {
        font-size: 2rem;
        font-weight: 700;
    }

    &__container-details{
        display:flex;
        justify-content: space-between;
        font-size: 1.75rem;
        font-weight: 600;
    }

    &__profit-value{
        color:grey;
    }

    &__percent-value{
        color: blue;
        &--profit{
            color: green;
        }
        &--loss{
            color:red;
        }
    }
}


.box-option{
    @extend %box;

    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1.125rem + 1.5vw);

    &__text{
        margin: 0px;
    }

    &--dark{
        @include m.box-dark;
    }

    @media screen and (min-width:768px){
        min-height: 150px;
    }

}


.box-token{
    @extend %box;

    width: 100%;
    height: 100%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__price {
        font-size: calc(1.125rem + 1.5vw);
        margin:0;
        font-weight: 600;
    }

    &__percent-value--profit{
        color: green;
        margin:0;
    }

    &__icon{
        font-size: calc(2.5rem + 1.5vw);
    }
}

// <div class="box-token">
//      <i class="bi bi-qr-code box-token__icon"></i>
//       <div class="box-token__body">
//    <p class="box-token__price">$740.45</p>
//  <p class="box-token__percent-value--profit">+6.30%</p>
//</div>
//</div>

