.btn-circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: all 0.5s ease;

    &__icon {
        font-size: 1.5rem;
    }

    &--dark{
        background-color: black;
        color:white;
        border:0.5px solid black
    }

    &:hover{
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}